/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(198, 47, 47); /* O el color que prefieras */
    z-index: 9999;
  }
  
  .splash-screen img {
    max-width: 100%; /* Ajusta el tamaÃ±o de la imagen */
    max-height: 100%; /* Limita la altura */
    object-fit: contain;
  }



  @font-face {
    font-family: 'Ubuntu'; /* Nombre que le das a la fuente */
    src: url('assets/fonts/Ubuntu_Mono/UbuntuMono-regular.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal; /* Ajusta el peso si es necesario */
    font-style: normal; /* Ajusta el estilo, como italic si es necesario */
  }
  
  
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  p, h2, a,ion-text, mat-form-field,small {
    color: #000; /* Color negro para párrafos, textos de Ionic, Material y botones */
  }
  
  ion-content {
    --padding-top: var(--ion-safe-area-top);
    --background-color: black; /* Por ejemplo, un gris claro */
  }
  
  /* Aplica la fuente globalmente */
  ion-content {
    font-family: 'Ubuntu', sans-serif;
  }
  
  ion-button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  
  
  
  